
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to root_path, class: "home-button" do %>

    <%= image_tag("logo.png", class: "rounded-circle") %> CARCNC
    <% end %>

  <div class="btn_container">
  <%= form_tag '/cars', method: :get, class: 'search-bar' do %>
    <%= text_field_tag 'location', nil, placeholder: 'Location', class: 'location_btn ' %> 
    <%= date_field_tag "start_date", "date_input_name", class: 'first_date_btn' %>
    <%= date_field_tag "end_date", "date_input_name", class: 'last_date_btn' %>
  
      <%= submit_tag 'Go!', class: 'submit' %>
  <% end %>
</div>


<select name="cars" class="dropdown-field">

  </select>

<%= link_to new_car_path, class: "home-button" do %>

    <%= image_tag("plus.png", class: "plus") %> 
    <% end %>
<%= image_tag("avatar.png", class: "avatar") %>


</nav>
